<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer__inner">
      <div class="copyright">
        <p>Delirium Coder 2019</p>
      </div>
      <div class="contact-info">
        <p><span>Email:</span> <a href="mailto:info@deliriumcoder.com">info@deliriumcoder.com</a></p> <span class="vertical-separator">|</span> <p><span>Teléfonos:</span> <a href="tel:+34653368046">(+34) 653 36 80 46</a> / <a href="tel:+34665950719">(+34) 665 95 07 19</a></p>
      </div>
    </div>
  </div>
</footer>
