// Typography
$font-family: 'Open Sans', sans-serif;

$font-size-base:       18px;      // 18px

$font-size-headline-1: 3rem;    // 48px
$font-size-headline-2: 2.25rem;  // 36px
$font-size-headline-3: 1.5rem;   // 24px
$font-size-headline-4: 1.125rem;  // 18px
$font-size-headline-5: 1rem;       // 16px
$font-size-headline-6: 0.875rem;  // 14px
$font-size-small:      0.75rem;   // 12px

$line-height-base: 1.5;
$line-height-headers: 1.250;

$light:   300;
$regular: 400;
$bold:    700;
$black:   800;

$color-black:             #444444;
$color-blue-dark:         #2C3E50;
$color-blue:              #2980B9;
$color-blue-ultralight:   #ECF0F1;
$color-grey:              #777777;
$color-red:               #DC1E32;
