.site-footer {
  background: $color-red;
  color: white;
  font-size: $font-size-small;
  padding: 2rem 0;
  a {
    color: white;
    text-decoration: underline;
    &:hover, &:active, &:focus {
      color: white;
    }
  }
  p {
    margin-bottom: .3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.site-footer__inner {
  @extend .row;
}

.contact-info, .copyright {
  @extend .col-sm-12;
}

.copyright {
    @extend .col-md-5;
  margin-bottom: 1rem;
  p {
    padding-left: 1.5rem;
    position: relative;
    &:before {
      @include retina-sprite($isotype-white-group);

      content: "";
      bottom: 0;
      display: inline-block;
      left: 0;
      position: absolute;
    }
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

.contact-info {
  @extend .col-md-7;

  @include media-breakpoint-up(md) {
    text-align: right;
    p {
      display: inline-block;
    }
  }
}

.vertical-separator {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
