.quote__author {
  font-weight: $bold;
  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

.quote__comment {
  color: $color-grey;
  font-style: italic;
  @include media-breakpoint-up(sm) {
    padding-left: 1rem;
    &:before {
      color: $color-blue;
      content: '‟';
      display: block;
      font-size: 5rem;
      left: 0;
      position: absolute;
      top: -2rem;
    }
  }
}

.quote-content {
  background: $color-blue-ultralight;
  padding: 2rem 0;
}

.quote__photo {
  @extend .col-sm-4;
  @extend .col-lg-3;
  @extend .col-xl-2;
  @extend .default-bottom-margin;

  img {
    border-radius: 50%;
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
}

.quote__text {
  @extend .col-sm-8;
  @extend .col-lg-9;
  @extend .col-xl-10;
}
