.site-header {
  @extend .big-padding;
  &.red {
    background: $color-red;
  }
  &.blue {
    background: $color-blue;
  }
  &.blue-dark {
    background: $color-blue-dark;
  }
  &.blue-ultralight {
    color: $color-black;
    background: $color-blue-ultralight;
    .site-logo {
      @include retina-sprite($logo-group);
    }
  }

  &.red, &.blue, &.blue-dark {
    color: white;
    .site-logo {
      @include retina-sprite($logo-white-group);
    }
    .site-nav {
      a {
       color: white;
        &:hover, &:active, &:focus {
          color: white;
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
  }
}

.header-brand {
  @extend .row;
  @extend .default-bottom-margin;
}

.header-description {
  @extend .row;
}

.nav-link {
  display: inline-block;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
  @include media-breakpoint-up(md) {
    margin-right: 2rem;
  }
}

.site-logo {
  @extend .text-hidden;
}

.site-name {
  @extend .col-sm-12;
  @extend .col-md-4;
  @extend .col-lg-3;

  a {
    display: block;
  }
}

.site-nav {
  @extend .col-sm-12;
  @extend .col-md-8;
  @extend .col-lg-9;

  @include media-breakpoint-up(md) {
    text-align: right;
  }
}

.tagline {
  @extend .col-sm-12;
  @extend .col-md-8;
  @extend .col-lg-6;

  font-size: $font-size-headline-3;
  font-weight: $light;
  line-height: $line-height-headers;

}

.project-link {
  @extend .col-sm-12;

  a {
    color: white;
    text-decoration: underline;
    &:hover, &:active, &:visited, &:focus {
      color: white;
    }
  }
}
