.screenshoot {
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  &:first-child {
    @extend .big-padding-top;
  }
  &:last-child {
    @extend .big-padding-bottom;
  }
}

.screenshoot--inline {
  @extend .col-sm-4;
}

.section-content__image {
  @extend .col-sm-12;

  background: $color-blue-ultralight;
  text-align: center;
}

.section-content__main {
  @extend .col-sm-12;
  @extend .col-md-6;
  @extend .col-lg-7;
}

.section-content__main-project {
  @include media-breakpoint-down(md) {
    margin-bottom: 2rem;
  }
}

.section-content__sidebar {
  @extend .col-sm-12;
  @extend .col-md-6;
  @extend .col-lg-5;
}
