---
collection: projects
layout: project
title: Frontend y API para la visualización de datos sobre mapas
color: blue
path: "frontend-api-visualizacion-datos"
tagline: "Desarrollo de un frontend en Backbone.js, usando la librería Leaflet para visualización de mapas, y desarrollo de una API para obtener los datos a visualizar"
summary:
  - Desarrollo de un <em>frontend</em>, usando el framework Backbone.js.
  - Integración de la librería Leaflet para la visualización de datos a través de un mapa interactivo.
  - Diseño y desarrollo de una API web basada en Yii Framework, para la obtención de datos desde una base de datos.
  - Indexación de información de datos en Elasticsearch, y soporte de búsquedas contra Elasticsearch en la API.
dates:
  - "Marzo de 2017."
quote_image: "jesus-gordillo.jpg"
quote_image_alt: "Jesús Gordillo, Senior Director en Cink"
quote_text: "Llevamos años trabajando con múltiples proveedores tecnológicos y en Delirium Coder hemos encontrado uno de los equipos más resolutivos y ágiles con los que hemos trabajado. Nos han apoyado en el desarrollo de soluciones de alto valor para grandes clientes siempre con celeridad y soluciones tan creativas como funcionales. Y todo con un trato siempre excepcional."
quote_author: Jesús Gordillo, Senior Director en <a href="http://cink.es/" target="_blank">Cink</a>.
---

<section class="section-content section-content-project">
  <div class="wrapper">
    <div class="section__inner">
      <div class="section-content__main section-content__main-project">
        <h2>Descripción</h2>
        <p>La empresa <a href="http://cink.es/" target="_blank">Cink</a> contactó con nosotros para colaborar en el desarrollo de un proyecto para una compañía de banca. Este proyecto, consistía en el desarrollo de una solución para la medición y visualización de datos relativos a proyectos llevados a cabo por dicha compañía en distintos países del mundo.</p>
        <p>Desde Delirium Coder nos hemos encargado del desarrollo de la parte <em>frontend</em>, así como de la API web que interconecta el <em>frontend</em> con la base de datos en la que el cliente recopila una serie de datos de impacto generados por la compañía.</p>
      </div>
      {% include project_summary.html %}
    </div>
  </div>
</section>
{% include quote.html %}
