<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <article class="page-content">
      {{ content }}

      <section class="section-content section-content-project">
        <div class="wrapper">
          <div class="section__inner">
            <div class="section-content__main section-content__main-project">
              <a href="/proyectos">← Ver más proyectos.</a>
            </div>
          </div>
        </div>
      </section>

      <section class="section-write-us">
        <div class="wrapper">
          <h2>¿Te gusta lo que ves? ¿Quieres que trabajemos juntos?</h2>
          <a href="/contacto" class="button">Escríbenos</a>
          </div>
      </section>
    </article>

    {% include footer.html %}

  </body>
  {% include analytics.html %}

</html>
